 root {
    box-sizing: border-box;
    background-color: #dfdfdf;
}

a > img {
    height: 18rem;
    margin: 4px;
}

button {
    height: 3rem;
    border-radius: 20px;
    font-size: large;
    background-color:black;
    color:white;
    font-weight: 500;
}